mat-card {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

mat-card-header {
  margin-bottom: 18px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-label {
  color: black;
}

input {
  color: black;
}

button {
  width: 100%;
  margin-top: 20px;
  color: white;
}

button:disabled {
  background-color: rgba(80, 78, 78, 0.472);
  color: white;
}
