<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Name</label>
    <input id="firstName" formControlName="firstName" />
    <div *ngIf="contactForm.get('firstName')?.invalid  && contactForm.get('firstName')?.touched">
      <small>Имя обязательно</small>
    </div>
  </div>
  <div>
    <label for="lastName">Surname</label>
    <input id="lastName" formControlName="lastName" />
    <div *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
      <small>Фамилия обязательна</small>
    </div>


  </div>
  <div>
    <label for="phone">Phone</label>
    <input id="phone" formControlName="phone" name="phone" required />
    <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched">
      <small>Телефон обязателен и должен быть в формате +380XXXXXXXXX</small>
    </div>

  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" name="email" type="email" required email />
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      <small>Некорректный email</small>
    </div>
  </div>
  <button type="submit">Сохранить</button>
</form>