div {
  margin-top: 26px;
}

mat-table {
  background-color: white;
  width: 650px;

  mat-header-cell,
  mat-cell {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

button {
  margin-right: 12px;
  box-shadow: none;
  color: black;
}

.input-wrapper {
  --mat-sys-surface-variant: transparent;
}
