<div *ngIf="filteredContacts$ | async as contacts; else loading">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <!-- <button (click)="editContact(contact)">Редактировать</button>
          <button (click)="deleteContact(contact.id)">Удалить</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>Загрузка...</ng-template>