div {
  margin-top: 26px;
}

mat-table {
  background-color: white;
  width: 650px;

  mat-header-cell,
  mat-cell {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

button {
  margin-right: 12px;
  box-shadow: none;
  color: white;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255, 255, 255) !important;
}
